.home_page-container {
  padding: 0 12px;

  .title {
    margin: 12px 0;
  }

  .button {
    background-color: #2c73e8;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    height: 40px;
    margin: 0;
    padding: 10px 16px;
    text-align: center;
    transition: color 100ms;

    &:hover {
      opacity: 0.8;
    }
  }
}
